body {
    background-color: #121212;
    user-select: none;
    font-family: 'Roboto Mono', monospace;
    
    transition: 0.3s;
  }

  #loader {
    position: absolute;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: #000;
 
    z-index: 100;
    height: 100vh;
    width: 100vw;
    
    transition: 0.3s;
    transition-timing-function: ease-in;
  }

  loader-text {
    color: white;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: breathing 1.3s ease-out infinite;
  }

  @keyframes breathing {
    0% {
      opacity: 0%;
    }
  
    10% {
      opacity: 5%;
    }

    20% {
      opacity: 25%;
    }

    30% {
      opacity: 50%;
    }

    40% {
      opacity: 75%;
    }

    50% {
      opacity: 100%;
    }

    60% {
      opacity: 75%;
    }

    70% {
      opacity: 50%;
    }

    80% {
      opacity: 25%;
    }

    90% {
      opacity: 5%;
    }

    100% {
      opacity: 0%;
    }
  
    
  }

  source-code-link {
    visibility: hidden;
  }



  source-code-link a {
    transition: 0.3s;
    
    font-size: 14px;
    text-decoration-color: #6b6b6b;
    color: #6b6b6b;
    font-weight: 300;
    opacity: 70%;

    float: left;
    clear: right;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
  }

  source-code-link a:hover {
    opacity: 100%;
  }
  
  div.wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  div.personal-info {
    color: white;
  }
  
  div.personal-info h1 {
    font-weight: 700;
  }
  
  div.personal-info h2 {
    margin-top: -17px;
    font-weight: 300;
    margin-bottom: 40px;
  }
  
  p {
    color: white;
    font-weight: 200;
  }
  
  div.navbar {
     /* Center this thing */
    display: flex;
    justify-content: center;
  }
  
  div.center {
    display: flex;
    justify-content: center;
  }
  
  div.center-text {
    text-align: center;
  }
  
  div.hr {
    background-color: #3b3b3b;
    height: 0.1px;
    width: 60%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  svg.social {
    fill: #c9c9c9;
    width: 30px;
    height: 30px;

    transition: 0.3s;
  }
  
  div.space {
    width: 50px;
    height: 1px;
  }

  #toggle {
    visibility: hidden;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-image-width: 100%;
    fill: white;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    
    transition: 0.3s;
  }

  #toggle:hover {
    fill-opacity: 80%;
  }

  svg.moon {
    visibility: visible;
  }

  svg.sun {
    visibility: visible;
  }

  .social:hover {
    fill-opacity: 80%;
  }