body {
    background-color: #121212;
    user-select: none;
  }
  
  div.wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  div.personal-info {
    color: white;
  }
  
  div.personal-info h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
  }
  
  div.personal-info h2 {
    margin-top: -17px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
   
    margin-bottom: 40px;
  }
  
  p {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
  }
  
  div.navbar {
     /* Center this thing */
    display: flex;
    justify-content: center;
  }
  
  div.center {
    display: flex;
    justify-content: center;
  }
  
  div.center-text {
    text-align: center;
  }
  
  div.hr {
    background-color: #3b3b3b;
    height: 0.1px;
    width: 60%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  svg.social {
    fill: #c9c9c9;
    width: 30px;
    height: 30px;
  }
  
  div.space {
    width: 50px;
    height: 1px;
  }